 <div class="container py-5">
    <div class="row g-4">
      <!-- Product Image -->
      <div class="col-lg-5 col-md-6 col-sm-12 text-center">
        <img [src]="oProduct.images[0]"
             [alt]="oProduct.title"
             class="product-img img-fluid rounded shadow-sm">
      </div>

      <!-- Product Details -->
      <div class="col-lg-7 col-md-6 col-sm-12">
        <h1 class="product-title">{{ oProduct.title }}</h1>
        <p class="text-muted">Brand: <strong>{{ oProduct.brand }}</strong></p>
        
       <div class="mb-3">
        <span class="price text-danger fw-bold">{{ oProduct.price | currency }}</span>
        <span class="text-decoration-line-through text-muted ms-2">{{ oProduct.price / (1 - oProduct.discountPercentage / 100) | currency }}</span>
        <span class="badge bg-success ms-2">{{ oProduct.discountPercentage / 100 | percent }} OFF</span>
      </div>
      <div class="mb-3">
          <span class="text-warning">
            {{ '★'.repeat(oProduct.rating | roundNumber ) }}{{ '☆'.repeat(5 - oProduct.rating | roundNumber) }}
          </span>
        <small class="text-muted ms-2">{{ oProduct.rating }} / 5 ({{ oProduct.reviews.length }} reviews)</small>
      </div>

       <p class="mb-3">
        {{ oProduct.description }}
      </p>

      <ul class="list-unstyled">
        <li><strong>Stock:</strong> {{ oProduct.stock }} units available</li>
        <li><strong>Shipping:</strong> {{ oProduct.shippingInformation }}</li>
        <li><strong>Warranty:</strong> {{ oProduct.warrantyInformation }}</li>
        <li><strong>Return Policy:</strong> {{ oProduct.returnPolicy}}</li>
      </ul>

      <div class="d-grid gap-2 d-md-block mt-4">
        <button class="btn btn-primary btn-lg" (click)="AddCartItem(oProduct)">Add to Cart</button>
        <button class="btn btn-outline-secondary btn-lg">Buy Now</button>
      </div>
    </div>
  </div>

  <!-- Reviews Section -->
  <div class="row mt-5">
    <div class="col-12">
      <h4>Customer Reviews</h4>
      <div class="border-top pt-3 mt-3">
        @for (review of oProduct.reviews; track review)
        {
            <p><strong>{{ review.reviewerName }}</strong><br> 
              <code *ngFor="let _ of [].constructor(review.rating)">⭐</code>
              - {{ review.comment }}</p>
        }      
      </div>
    </div>
  </div>
</div> 

